{{!-- <img src="{{film.image_m}}"> --}}

<div class="score">{{film.critics_score}}</div>

<h3>
  {{#link-to 'film' film.slug}}{{film.title}}{{/link-to}}
</h3>

<div class="synopsis">{{film.shortSynopsis}}</div>

{{#if film.positiveReview}}
  {{review-thumb review=film.positiveReview}}
{{/if}}

{{#if film.negativeReview}}
  {{review-thumb review=film.negativeReview}}
{{/if}}
